.containerLandingpage{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    row-gap: 10vh;
}

.projectsPage{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-content:center;
}

.cvPage{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-content:center;
}

.rectangle{
    background: rgb(188, 129, 129);
    width: 5px;
}

#sectionTitles {
    display: flex;
    background: blue;
    padding-left: 4vw;
}

#projectsLandingpage { 
    color: rgb(9, 255, 0);
    background: red;
    padding-left: 35vw;
}

#cvLandingpage { 
    color: rgb(9, 255, 0);
    background: red;
    padding-left: 45vw;
}

#lawrenceNowakLandingpage {
    color: rgb(0, 213, 255);
    background: red;
    padding-left: 55vw;
}